@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$redColor: #aa0b3d;
$aliceFont: 'Alice',
Georgia,
serif;
$sansFont: "Open sans",
Helvetica,
Arial,
sans-serif;
$helveticaFont: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
* {
    padding: 0;
    margin: 0;
}

.red-link {
    text-decoration: none;
    color: #aa0b3d;
}

.uppercase {
    text-transform: uppercase;
}

.button {
    border: 1px solid #000000;
}

.sans {
    font-family: "Open sans";
}

.link {
    text-decoration: none;
}

header {
    background-image: url('../images/bg_head.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    text-align: center;
    img {
        width: 110px;
        height: auto;
        border-radius: 100px;
        border: 10px solid lightgray;
        transition-duration: 0.25s;
    }
    img:hover {
        border-color: gray;
    }
    p {
        font-size: 50px;
        font-family: $aliceFont;
        font-weight: 50;
        opacity: 0.75;
    }
    .header-info {
        margin-top: 10px;
        h6,
        a {
            color: rgb(46, 46, 46);
            text-decoration: none;
            font-family: $sansFont;
            font-weight: 400;
            font-size: 1rem;
            opacity: 0.75;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.nav {
    border: 1px solid #cccccc;
    nav {
        margin: 0 10px;
        height: 60px;
        div {
            display: flex;
            height: 100%;
            width: 100%;
            ul {
                align-items: center;
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                list-style: none;
                li {
                    margin: 0 30px;
                    font-family: $sansFont;
                    opacity: 0.6;
                    a {
                        color: #2e2e2e;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
                .home {
                    opacity: 1;
                }
            }
        }
        .menu-hidden {
            background-color: #fff;
            border: 1px solid #cccccc;
            border-radius: 10px;
            position: absolute;
            display: none;
            list-style: none;
            font-family: $sansFont;
            width: 130px;
            left: 50%;
            right: 40%;
        }
    }
}

main {
    display: block;
    justify-content: center;
    width: 1100px;
    margin: auto;
}

.main {
    display: flex;
    max-width: 1050px;
    margin: 50px auto;
    text-align: center;
    font-family: "Open sans", ;
    color: #929292;
    p {
        font-size: 21px;
    }
    .red {
        text-decoration: none;
        color: #D73467;
    }
    .red:hover {
        text-decoration: underline;
    }
}

#services {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    p {
        text-transform: uppercase;
        font-size: 37px;
        font-family: $sansFont;
        color: #161616;
    }
}

.grid-readmore {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1100px;
    div {
        text-align: center;
        margin: 6px 0 0 0;
        font-family: $sansFont;
        h3 {
            color: #292929;
            margin: 0 10px 40px;
            font-family: $helveticaFont;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
        }
        p {
            text-align: left;
            font-size: 13px;
            font-family: $sansFont;
            color: #555555;
            margin: 0 19px 40px;
        }
        a {
            font-family: $helveticaFont;
            color: rgb(46, 46, 46);
            font-size: 0.75rem;
            padding: 12px 35px;
            font-weight: bold;
            text-shadow: none;
            transition-duration: 0.25s;
        }
        a:hover {
            border-color: #aa0b3d;
            color: #aa0b3d;
        }
    }
}

#recent-works {
    margin: auto;
    margin-top: 50px;
    max-width: 1100px;
    .heading {
        text-align: center;
        font-size: 37px;
        color: #161616;
        font-family: $sansFont;
    }
    .grid-img {
        font-family: $sansFont;
        margin-top: 20px;
        display: grid;
        grid-gap: 10px 30px;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        div {
            .absolute {
                transition-duration: 0.5s;
                opacity: 0;
                position: relative;
                top: -60px;
                left: 110px;
                padding: 8px 23px;
                background-color: $redColor;
                color: #fff;
            }
        }
        div:hover {
            .absolute {
                opacity: 1;
            }
            img {
                opacity: 0.25;
            }
        }
        text-align: center;
        img {
            width: 100%;
            height: 180px;
            margin-bottom: 12px;
            transition-duration: 0.5s;
        }
        .description-image {
            font-size: 15px;
            display: block;
            margin: 0 25px;
            font-weight: 550;
        }
        div {
            font-size: 12px;
            padding: 10px 0;
        }
    }
}

.download-template {
    margin-top: 70px;
    border: 3px double #cfcfcf;
    display: flex;
    align-content: center;
    padding: 36px 0;
    .container {
        padding: 0 50px;
        width: 100%;
        display: flex;
        font-family: $sansFont;
        .lorem {
            font-size: 15px;
            margin-right: 70px;
        }
        .download-btn {
            width: 200px;
            padding: 15px 35px;
            background-color: $redColor;
            text-align: center;
            font-size: 12px;
            font-family: $sansFont;
            a {
                width: 100%;
                color: #fff;
            }
        }
        .download-btn:hover {
            background-color: #be0c45;
        }
    }
}

.client {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    h1 {
        margin: 20px auto;
        font-weight: 300;
        color: #3a3a3a;
    }
}

footer {
    margin-top: 30px;
    width: 100%;
    .footer {
        background-color: #232323;
        .grid-footer {
            column-gap: 30px;
            padding: 30px 0;
            line-height: 20px;
            margin: auto;
            max-width: 1100px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            color: #c4c4c4a9;
            font-size: 12px;
            h2 {
                color: #fff;
                font-size: 17px;
                font-weight: 300;
                margin-bottom: 25px;
            }
            .link-mail {
                text-decoration: none;
                color: #d3d3d3;
            }
        }
    }
    .copyright {
        font-family: "Open sans";
        color: #ffffff91;
        background-color: #1a1a1a;
        padding: 10px 0;
        text-align: center;
        font-size: 10px;
        span {
            color: #fff;
            font-size: 12px;
        }
    }
}