@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

header {
  background-image: url("../images/bg_head.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
  text-align: center;
}

header img {
  width: 110px;
  border-radius: 100px;
  border: 10px solid lightgray;
}

header p {
  font-size: 50px;
  font-family: 'Alice', Georgia, serif;
  font-weight: 50;
  opacity: 0.75;
}

header .header-info {
  margin-top: 10px;
}

header .header-info h6,
header .header-info a {
  color: #2e2e2e;
  text-decoration: none;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.75;
}

header .header-info a:hover {
  text-decoration: underline;
}

.nav {
  border: 1px solid #cccccc;
}

.nav nav {
  margin: 0 10px;
  height: 60px;
}

.nav nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.nav nav div ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  list-style: none;
}

.nav nav div ul li {
  margin: 0 30px;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  opacity: 0.6;
}

.nav nav div ul .home {
  opacity: 1;
}

.nav nav .menu-hidden {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  position: absolute;
  display: none;
  list-style: none;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  width: 130px;
  left: 50%;
  right: 40%;
}

main {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1100px;
  margin: auto;
}

.theme-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1050px;
  margin: 50px auto;
  text-align: center;
  font-family: "Open sans";
  color: #929292;
}

.theme-center p {
  font-size: 21px;
}

.theme-center .red {
  text-decoration: none;
  color: #D73467;
}

.theme-center .red:hover {
  text-decoration: underline;
}

.theme-lower {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.theme-lower p {
  text-transform: uppercase;
  font-size: 37px;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  color: #161616;
}

.grid-readmore {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  max-width: 1100px;
}

.grid-readmore div {
  text-align: center;
  margin: 6px 0 0 0;
  font-family: "Open sans";
}

.grid-readmore div h3 {
  color: #292929;
  margin: 0 10px 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.grid-readmore div p {
  text-align: left;
  font-size: 13px;
  font-family: "Open sans";
  color: #555555;
  margin: 0 19px 40px;
}

.grid-readmore div a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2e2e2e;
  font-size: 0.75rem;
  padding: 12px 35px;
  font-weight: bold;
  text-shadow: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.grid-readmore div a:hover {
  border-color: #aa0b3d;
  color: #aa0b3d;
}

.grid-image {
  margin: auto;
  margin-top: 50px;
  max-width: 1100px;
}

.grid-image .heading {
  text-align: center;
  font-size: 37px;
  color: #161616;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
}

.grid-image .grid-img {
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px 30px;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  text-align: center;
}

.grid-image .grid-img div .absolute {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0;
  position: relative;
  top: -60px;
  left: 110px;
  padding: 8px 23px;
  background-color: #aa0b3d;
  color: #fff;
}

.grid-image .grid-img div:hover .absolute {
  opacity: 1;
}

.grid-image .grid-img div:hover img {
  opacity: 0.25;
}

.grid-image .grid-img img {
  width: 100%;
  height: 180px;
  margin-bottom: 12px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.grid-image .grid-img .description-image {
  font-size: 15px;
  display: block;
  margin: 0 25px;
  font-weight: 550;
}

.grid-image .grid-img div {
  font-size: 12px;
  padding: 10px 0;
}

/*.download-template {
    width: 100%;
    display: flex;
    padding: 58px 0px;
    .lorem {
        margin: 0 70px;
        p {
            font-family: "Open sans", Helvetica, Arial, sans-serif;
            font-size: 0.9375rem;
            color: #666666;
        }
    }
    .download-btn {
        display: flex;
        background-color: $redColor;
        text-align: center;
        width: 400px;
        align-items: center;
        margin: 0 50px;
        a {
            font-family: "Open sans", Helvetica, Arial, sans-serif;
            color: #fff;
            width: 100%;
            font-size: 12px;
            font-weight: bold;
        }
    }
}*/
.download-template {
  margin-top: 70px;
  border: 3px double #bebebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 36px 0;
}

.download-template .container {
  padding: 0 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open sans";
}

.download-template .container .lorem {
  font-size: 15px;
  margin-right: 70px;
}

.download-template .container .download-btn {
  width: 200px;
  padding: 15px 35px;
  background-color: #aa0b3d;
  text-align: center;
  font-size: 12px;
  font-family: "Open sans";
}

.download-template .container .download-btn a {
  width: 100%;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */