@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$redColor: #aa0b3d;
* {
    padding: 0;
    margin: 0;
}

header {
    background-image: url('../images/bg_head.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    text-align: center;
    img {
        width: 110px;
        border-radius: 100px;
        border: 10px solid lightgray;
    }
    p {
        font-size: 50px;
        font-family: 'Alice', Georgia, serif;
        font-weight: 50;
        opacity: 0.75;
    }
    .header-info {
        margin-top: 10px;
        h6,
        a {
            color: rgb(46, 46, 46);
            text-decoration: none;
            font-family: "Open sans", Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 1rem;
            opacity: 0.75;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.nav {
    border: 1px solid #cccccc;
    nav {
        margin: 0 10px;
        height: 60px;
        div {
            display: flex;
            height: 100%;
            width: 100%;
            ul {
                align-items: center;
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                list-style: none;
                li {
                    margin: 0 30px;
                    font-family: "Open sans", Helvetica, Arial, sans-serif;
                    opacity: 0.6;
                }
                .home {
                    opacity: 1;
                }
            }
        }
        .menu-hidden {
            background-color: #fff;
            border: 1px solid #cccccc;
            border-radius: 10px;
            position: absolute;
            display: none;
            list-style: none;
            font-family: "Open sans", Helvetica, Arial, sans-serif;
            width: 130px;
            left: 50%;
            right: 40%;
        }
    }
}

main {
    display: block;
    justify-content: center;
    width: 1100px;
    margin: auto;
}

.theme-center {
    display: flex;
    max-width: 1050px;
    margin: 50px auto;
    text-align: center;
    font-family: "Open sans", ;
    color: #929292;
    p {
        font-size: 21px;
    }
    .red {
        text-decoration: none;
        color: #D73467;
    }
    .red:hover {
        text-decoration: underline;
    }
}

.theme-lower {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    p {
        text-transform: uppercase;
        font-size: 37px;
        font-family: "Open sans", Helvetica, Arial, sans-serif;
        color: #161616;
    }
}

.grid-readmore {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1100px;
    div {
        text-align: center;
        margin: 6px 0 0 0;
        font-family: "Open sans";
        h3 {
            color: #292929;
            margin: 0 10px 40px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
        }
        p {
            text-align: left;
            font-size: 13px;
            font-family: "Open sans";
            color: #555555;
            margin: 0 19px 40px;
        }
        a {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: rgb(46, 46, 46);
            font-size: 0.75rem;
            padding: 12px 35px;
            font-weight: bold;
            text-shadow: none;
            transition-duration: 0.25s;
        }
        a:hover {
            border-color: #aa0b3d;
            color: #aa0b3d;
        }
    }
}

.grid-image {
    margin: auto;
    margin-top: 50px;
    max-width: 1100px;
    .heading {
        text-align: center;
        font-size: 37px;
        color: #161616;
        font-family: "Open sans", Helvetica, Arial, sans-serif;
    }
    .grid-img {
        font-family: "Open sans", Helvetica, Arial, sans-serif;
        margin-top: 20px;
        display: grid;
        grid-gap: 10px 30px;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        div {
            .absolute {
                transition-duration: 0.5s;
                opacity: 0;
                position: relative;
                top: -60px;
                left: 110px;
                padding: 8px 23px;
                background-color: $redColor;
                color: #fff;
            }
        }
        div:hover {
            .absolute {
                opacity: 1;
            }
            img {
                opacity: 0.25;
            }
        }
        text-align: center;
        img {
            width: 100%;
            height: 180px;
            margin-bottom: 12px;
            transition-duration: 0.5s;
        }
        .description-image {
            font-size: 15px;
            display: block;
            margin: 0 25px;
            font-weight: 550;
        }
        div {
            font-size: 12px;
            padding: 10px 0;
        }
    }
}

.download-template {
    width: 100%;
    display: flex;
    padding: 58px 0px;
    .lorem {
        margin: 0 70px;
        p {
            font-family: "Open sans", Helvetica, Arial, sans-serif;
            font-size: 0.9375rem;
            color: #666666;
        }
    }
    .download-btn {
        display: flex;
        background-color: $redColor;
        text-align: center;
        width: 400px;
        align-items: center;
        margin: 0 50px;
        a {
            font-family: "Open sans", Helvetica, Arial, sans-serif;
            color: #fff;
            width: 100%;
            font-size: 12px;
            font-weight: bold;
        }
    }
}